:root {
    --kokoa-yellow:#FAE100;
    --kokoa-vanilla:#FEFCE5;
    --kokoa-blue:#ABC1D1;
    --kokoa-dark: #3C1212;
    --kokoa-chat-grey: #383838;
    --kokoa-red: #E65F3D;
    --kokoa-nav-black: #181818;
    --kokoa-chat-back-dark: #272727;
    --kokoa-chat-dark: #383838;
    --kokoa-chat-input-dark: #2D2D2D;

    --horizontal-space: 25px;
}