.nav {
    position: absolute;
    box-sizing: border-box;

    padding: 20px 40px;
    bottom: 0px;;
    width: 100%;

    background-color: var(--kokoa-nav-black);
    border-radius: 0px 0px 15px 15px;
}

.nav__ul {
    display: flex;
    justify-content: space-between;

    font-size:24px;
    opacity:0.9;
}

.nav__link {
    position: relative;
}

.nav__notification-count {
    position:absolute;

    left:15px;
    bottom: 15px;
}

.nav__notification-dot {
    position:absolute;

    left:28px;
    bottom: 22px;
}
